
body {
	font: 14px 'Roboto', sans-serif;
	font-weight: 400;
}
.container {
	max-width: 1200px;
  	margin: 0 auto;
  	padding: 0 30px;
}

.bg-container {
	height: 100vh;
	background: linear-gradient(-45deg, #ee7752 0%, #e73c7e 30%, #23a6d5 70%, #2fccc2 100%);
}
/* header */
.page-header {
	height: 30px;
	text-align: right;
	background: rgba(0, 0, 0, 0.2);
}
.page-header a {
	text-decoration: none;
	padding: 0px 0px 0px 50px ;
	color: black;
	font: 15px 'Roboto Mono', sans-serif;
	line-height: 30px;
}

/* welcome page */
.welcome-page {
	height: 95vh;
	margin: 0px;
}
.welcome-content {
	padding-top: 300px;
	color: aliceblue;
	text-align: center;
}
.welcome-header {
	font: 60px 'Montserrat', sans-serif;
	font-weight: 600;
	margin: auto;
}
.welcome-sub-heading {
	font-size: 30px;
	font-weight: 400;
}

/* about page */
.about-page {
	height: 100vh;
}
.first-block {
	display: flex;
}
.about-block {
	width: 600px;
	margin: 30px;
}
.about-header {
	font: 45px 'Montserrat', sans-serif;
	padding-left: 50px;
	font-weight: 600;
	margin: 0px;
	padding-top: 30px;
	
}
.about-text {
	font: 20px 'Roboto', sans-serif;
	line-height: 25px;
}

.my_photo {
	width: 300px;
	height: 300px;
	margin: auto; 
	margin-top: 30px;
	margin-bottom: 30px;
	/* 20px 60px 20px 60px; */
}
.second-block {
	display: flex;
	/* padding-top: 30px; */
}
.animal {
	font-size: 10px;
	line-height: 10px;
	margin: 30px;
	border: 3px solid black;
}
.my-skills-container {
	margin-left: 30px;
	margin-top: 30px;
}
.my-skills-header {
	font: 45px 'Montserrat', sans-serif;
	font-weight: 600;
	/* margin: 0px; */
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.my-skills {
	font: 20px 'Roboto', sans-serif;
	line-height: 30px;
	width: 600px;
}
/* projects */
.my-projects-page {
	background-color: #313131;
	height: 100vh;
}

.my-projects-header {
	color: white;
	font: 45px 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 30px;
}

.first-two-project, .second-two-project {
	text-align: center;
	margin-bottom: 50px;
}

.my-project {
	display: inline-block;
	position: relative;
	width: 350px;
	height: 200px;
	background-color: white;
	vertical-align: top;
	margin: 10px 30px 10px 30px;
	padding: 10px;
	
}

.project-header {
	text-align: center;
	font: 20px 'Montserrat', sans-serif;
	line-height: 30px;
	margin: 20px;
	padding-top: 10px;
}

.project-tags {
	display: inline-block;
	font: 15px 'Roboto', sans-serif;
	font-style: italic;
	margin: 0;
	padding: 0px 0px 20px 20px;
	position:absolute;
	bottom:0;
	left:0;
	vertical-align: top;
}
.project-about {
	display: inline-block;
	color: black;
	margin: 0;
	padding: 0 20px 20px 0;
	position:absolute;
	bottom:0;
	right:0;
	vertical-align: top;
}
/* contacts */

.contacts-header {
	font: 45px 'Montserrat', sans-serif;
	margin: 0px;
	font-weight: 600;
	padding-left: 70px;
	padding-top: 30px;
}
#bottom-bg {
	position: relative;
}
.contacts-list {
	float: left;
}
.contacts-list a {
	/* text-decoration: none; */
	
	color: black;
	font: 25px 'Roboto', sans-serif;
	line-height: 50px;
}

.page-footer {
	background: rgba(0, 0, 0, 0.2);
	text-align: right;
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer-menu {
	float: left;
}
.page-footer a{
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	margin: 15px;
}

/* pop-up block */

.popup-block {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	
}

.popup-content {
	position: relative;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;	
	width: auto;
	max-width: 80%;
	min-width: 800px;

	overflow: auto;
	 
}

.popup-block-show {
	display: block;
}

.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 
.code-example {
	max-width: 700px;
	max-height: 600px;
	width: 60%;
	/* display: inline-block; */
	float: right;
}

.project-information {
	min-width: 300px;
	max-width: 40%;
	position: absolute;
	float: left;
	top: 0;
	bottom: 0;
	left: 10px;
}

.button-close-popup {
	display: inline-block;
	position: absolute;
	color: black;
	top: 0;
	right: 0;
}
.project-tags-popup{
	display: inline-block;
	font: 15px 'Roboto', sans-serif;
	font-style: italic;
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.project-description {
	padding-left: 20px;
	padding-right: 20px;
	font: 20px 'Roboto', sans-serif;
}
.project-name {
	max-width: 600px;
	font: 30px 'Montserrat', sans-serif;
	line-height: 30px;
	font-weight: 600;
	margin-left: 20px;
}
.fa-times {
	padding: 10px;
	font-size: 30px;
}

.fa-github {
	
	font-size: 30px;
	color: black;
}
.github-link-icon {
	display: inline-block;
	bottom: 10px;
	left: 20px;
	position: absolute;
}
.project-all-info {
	position: relative;
	overflow: hidden;
}

/* gallery */

.dog-gallery {
	margin-right: 100px;
	float: right;
}
.big-photo {
	width: 500px;
	height: 500px;
}
.gallery-button {
	border: 0px;
	padding: 0;
	margin: 10px;
}
.small-photo {
	width: 110px;
	height: 110px;
}
.small-photo:hover {
	outline: 2px solid rgba(106, 33, 223, 0.5);
	transform:scale(1.2);
}
.small-photos {
	font-size: 0px;
}
.small-photos > button:first-child{
	margin-left: 0px;
}

.small-photos > button:last-child{
	margin-right: 0px;
}